/*BODY LAYOUT       */
body {
    display: grid;
    grid-template-areas: 'header'
                         'menu'
                         'form'
                         'footer';
    grid-template-rows: 80px
                        80px
                        80vh
                        80px;
    grid-template-columns: 1fr;
}

/*BODY LAYOUT END*/

/*HEADER         */
header {
    grid-area: header;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Londrina Shadow', cursive;
    font-size: 30px;
}

.header-left i {
    vertical-align: middle;/*画像と文字を中央に整列させるときは画像の中心を指定する*/
    margin-left: 30px;
    margin-right: 5px;
    color: #454552;
}

.header-left strong {
    color: #F43E43;
}

.header-left:hover {
    cursor: pointer;
}

.header-left a {
    text-decoration: none;
    color: #454552;
}
.header-left a:visited {
    color: #454552;
}


.header-right {
    margin-right: 28px;
    font-weight: bold;
}

.header-right a {
    text-decoration: none;
    display: block; /*padding部分もカ`ソルに反辘工毪瑜Δblock要素にする。*/
    color: #454552;
    font-weight: bold;
}


.header-list li{
    display: inline-block;
    background-color: rgba(69, 69, 69, 0.3);
    height: 80px; /*header-barを同じ高さに*/
    line-height: 80px;/*テキストとheader-barを同じ高さにするとテキストが中央に寄る*/
    padding: 0 10px;
}

.header-right li:hover {
    background-color: rgba(200, 200, 200, 0.7);
}
.header-right a:hover {
    color: #F43E43;
}



/*MENU                */
menu {
    grid-area: menu;
    background-color: #454545;
    display: flex;
    justify-content: center;
}

.menu-list {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list li{
    display: inline-block;
    margin-right: 20px;
    line-height: 80px;
    padding: 0 20px;
    color: #EAEAEA;
    font-size: 1.2em;
}

.menu-list li:hover {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: #EAEAEA;
}


/*CONTACT              */
.bg {
    background-image: url(../img/purple-grapes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    z-index: -1;
    }

.blur:before {
    background: inherit;
    content: "";
    display: block;
    filter: blur(5px);
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg:after {
    background-color: rgba(69, 69, 69, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    z-index: -1;
}


form {
    grid-area: form;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*z-index: 0;*/
}



.contact-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    font-size: 16px;
}

.label {
    display: inline-block;
    width: 250px;
}

.form-group {
    margin-bottom: 20px;
    color: #111;
}

.name,
.email {
    width: 160px;
    padding: 5px 0;
}

.email::-webkit-input-placeholder {
    direction: rtl; /*placeholfer内を右端に寄せる*/
}

.submit {
    display: flex;
    justify-content: center;
}

button {
    background-color: #56a764;
    border-color: #56a764;
    color: #f7f39c;
    font-size: 22px;
    font-family: 'Londrina Shadow', cursive;
    border-radius: 8px;
    width: 150px;
    height: 45px;
    margin: 0 auto;
    /* transition: .3s; */
    cursor: pointer;
    box-shadow: 0 10px 0 0 #f7f39c;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background: radial-gradient(rgba(247, 243, 156, 0.8), #56a764);
    color: #fff;
}

button:active {
    position: relative;
    top: 10px;
    box-shadow: none;
}

/*FOOTER*/
footer {
    grid-area: footer;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i,
footer span {
    color: #EAEAEA;
}

footer i {
    margin-right: 5px;
}

