/*BODY LAYOUT       */
body {
    display: grid;
    grid-template-areas: 'header header'
                         'section section'
                         'menu menu'
                         'aside main'
                         'footer footer';
    grid-template-rows: 80px
                        1fr
                        80px
                        3fr
                        80px;
    grid-template-columns: 30% 1fr;
    height: 150vh;
    grid-gap: 10px;
}
/*BODY LAYOUT END*/

/*HEADER         */
header {
    grid-area: header;
    background-color: #FBE9D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left i {
    vertical-align: middle;/*画像と文字を中央に整列させるときは画像の中心を指定する*/
    margin-left: 30px;
    margin-right: 5px;
    color: #454552;
}

.header-left strong {
    color: #F43E43;
}

.header-left:hover {
    cursor: pointer;

}

.header-right {
    margin-right: 30px;
}

.header-right a {
    text-decoration: none;
    display: block; /*padding部分もカ`ソルに反辘工毪瑜Δblock要素にする。*/
    color: #454552;
}


.header-list li{
    display: inline-block;
    background-color: rgba(69, 69, 69, 0.3);
    height: 80px; /*header-barを同じ高さに*/
    line-height: 80px;/*テキストとheader-barを同じ高さにするとテキストが中央に寄る*/
    padding: 0 10px;
}

.header-right li:hover {
    background-color: rgba(200, 200, 200, 0.3);
}
.header-right a:hover {
    color: #F43E43;
}



/*SECTION TOP          */
section {
    grid-area: section;
    background-color: skyblue;
}


menu {
    grid-area: menu;
    background-color: #454545;
}


aside {
    grid-area: aside;
    background-color: skyblue;
}


main {
    grid-area: main;
    background-color: skyblue;
}


footer {
    grid-area: footer;
    background-color: #333;
}

