/*BODY LAYOUT       */
body {
    display: grid;
    grid-template-areas: 'header header'
                         'section section'
                         'menu menu'
                         'aside main'
                         'blank main'
                         'footer footer';
    grid-template-rows: 80px
                        300px
                        80px
                        500px
                        auto
                        80px;
    grid-template-columns: 300px 1fr;
    height: 150vh;
    grid-gap: 10px;
    background-image: url(../img/purple-grapes.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0 -150px;
}
/*BODY LAYOUT END*/

/*HEADER         */
header {
    grid-area: header;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left i {
    vertical-align: middle;/*画像と文字を中央に整列させるときは画像の中心を指定する*/
    margin-left: 30px;
    margin-right: 5px;
    color: #454552;
}

.header-left strong {
    color: #F43E43;
}

.header-left:hover {
    cursor: pointer;
}

.header-left a {
    text-decoration: none;
    color: #454552;
    font-size: 16px;
}
.header-left a:visited {
    color: #454552;
}


.header-right {
    margin-right: 30px;
    font-size: 16px;
}

.header-right a {
    text-decoration: none;
    display: block; /*padding部分もカ`ソルに反辘工毪瑜Δblock要素にする。*/
    color: #454552;
}


.header-list li{
    display: inline-block;
    background-color: rgba(69, 69, 69, 0.3);
    height: 80px; /*header-barを同じ高さに*/
    line-height: 80px;/*テキストとheader-barを同じ高さにするとテキストが中央に寄る*/
    padding: 0 10px;
}

.header-right li:hover {
    background-color: rgba(200, 200, 200, 0.7);
}
.header-right a:hover {
    color: #F43E43;
}



/*SECTION TOP          */
section {
    grid-area: section;
    background: ;
}


/*MENU                */
menu {
    grid-area: menu;
    background-color: #454545;
    display: flex;
    justify-content: space-around;
}

.menu-list {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.menu-list li{
    display: inline-block;
    margin-right: 20px;
    line-height: 80px;
    padding: 0 20px;
    color: #EAEAEA;
    font-size: 1.2em;
}

.menu-list li:hover {
    background-color: rgba(200, 200, 200, 0.3);
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: #EAEAEA;
}



/*ASIDE                  */

aside {
    grid-area: aside;
    background-color: rgba(234, 234, 234, 0.7);
    position:relative;
    animation: fade-in 1s normal;
    box-shadow: 0px 0px 5px -5px #EAEAEA;
/*aside-grid*/
    display: grid;
    grid-template-areas: 'profile'
                         'profile-img'
                         'profile-text';
    grid-template-rows: 10% 1fr 45%;
    grid-row-gap: 20px;
    text-align: center;
    padding: 0 15px;
}

@keyframes fade-in {
    0%{
        left: -400px;
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        left: 0;
    }
}

/*Aside - profile*/

.profile h2{
    grid-area: profile;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 3px #454545;
    position: relative;
}

.profile h2:after {
    position: absolute;
    content: "";
    display: block;
    border-bottom: solid 3px #F43E43;
    bottom: -3px;
    width: 20%;
    left: 0;
}

.profile img {
    grid-area: profile-img;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
}

.profile p {
    grid-area: profile-text;
    font-size: 13px;
}

/*MAIN              */

main {
    grid-area: main;
    background-color: skyblue;
    padding: 50px;
}

.articles {
    display: flex;
    justify-content: space-around;
}

.articles p {
    text-align: center;
    z-index: 2;
}

.articles li img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.frame {
    display: inline-block;
    position: relative;
}

.frame:after{
    position: absolute;
    display: block;
    content:"";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transform: rotate(3deg);
    background: #fff;
}

.articles li {
    width: 250px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
}

.btn {
    background-color: #454545;
    border: solid 1px #7b7b7b;
    padding: 10px 40px;
    margin-top: 20px;
    z-index: 10
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
}

/*DIV*/
.blank {
    grid-area: blank;
}


/*FOOTER*/
footer {
    grid-area: footer;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer i,
footer span {
    color: #EAEAEA;
}

footer i {
    margin-right: 5px;
}



/*MEDIA QUERY レスポンシブ*/
@media screen (max-width: 1280px) {
    .articles {
        justify-content: center;
    }
    .articles li {
    width: 600px;
    height: 300px;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
}

}
